@charset "UTF-8";
/* すべてのページに適用される設定 */

html {
    font-size: 16px;
    font-family: "Italiana", sans-serif;
    color: #583822;
    height: 100%;
}

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fffff9;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
	max-width: 100%;
}

/* メイン */

.content-wrapper {
    position: relative; 
    z-index: 1; 
    flex-grow: 1; 
}

.home-page main {
    flex-grow: 1; 
    position: relative;
    padding-top: 90vh;
    z-index: 20;
}

main {
    flex-grow: 1; 
    position: relative;
}

#profile {
    margin-top: 150px;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 0;
    margin-top: 20px;
    color: #583822;
}

/* ヘッダー */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    z-index: 105;
    padding: 15px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bg {
    background-image: url(./images/logo_top.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* <h1>（サイトロゴ/HOMEリンク） */

header h1 {
    font-family: "Italiana", sans-serif;
    font-size: 24px;
    margin: 0;
    color: white;
}

.name {
    font-size: 1.5rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    border-bottom: #583822 2px dotted;
    width: 80%;
    margin: 10px 0;
}

.work-section {
    padding: 80px 0 50px 0; 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-bottom: 0;
}

/* ハンバーガーメニュー　*/

.menu-wrapper {
    position: relative; 
    z-index: 100;
}

/* アイコン（ボタン）の設定 */

.menu-icon {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    z-index: 102;
}

.menu-icon span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:#9b7e56;
    transition: 0.3s;
}

.menu-icon span:nth-child(1) { top: 0; }
.menu-icon span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.menu-icon span:nth-child(3) { bottom: 0; }


/* -------------------
 * メニュー本体の初期設定（非表示）
 * ------------------- */
.menu {
    position: fixed;
    z-index: 101;
    top: 0; 
    right: 0;
    width: 250px; 
    height: 100vh;
    background-color: #f7f7f4;
    transform: translateX(100%); 
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;
}

.menu ul {
    list-style: none;
    padding: 50px 20px 20px;
    margin: 0;
}

.menu li {
    margin: 0;
}

.menu a {
    display: block;
    padding: 10px 0;
    color: #9b7e56;
    text-decoration: none;
    text-align: center; 
}


/* オーバーレイ */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99; 
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

/* メニューを開く */

#menu-toggle:checked ~ .menu {
    transform: translateX(0);
}

/* オーバーレイを表示 */

#menu-toggle:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
}

/* アイコンを×印に変形 */

#menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
#menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}


/* ------------------
   コンテンツ（手前のテキスト）の設定
   ------------------ */

main a {
    color: inherit; 
    font-weight: normal; 
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

main a:hover {
    opacity: 0.7;
}

/* ------------------
   作品アイテム（左右レイアウトのコンテナ）
   ------------------ */
.section-item {
    display: flex;
    align-items: flex-start;
    gap: 5%;
    margin-bottom: 10px; /* アイテム間の縦のスペース */
}

/* ------------------
   左側の画像コンテナ
   ------------------ */
.item-visual {
    flex: 1; /* 均等な幅を確保するか、適切な幅を設定 */
    /* width: 50%; と設定してもOK */
}
.item-visual img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.profile-visual {
    width: 30%;
    height: 20%;
    margin: 0 0 0 100px;
}

/* ------------------
   右側のテキスト・ボタンコンテナ
   ------------------ */
.item-content {
    flex: 1; /* 均等な幅を確保するか、適切な幅を設定 */
    padding-left: 30px; /* 必要に応じて左に余白を追加 */
    text-align: left; /* テキストを左寄せにする */
}

.profile-section, .item-title {
    font-family: "Italiana", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.profile-section, .item-text {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 14px;
}

.tool-title {
    font-family: "Italiana", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 30px 0 50px 0;
}

.tools {
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: fit-content;
    margin: 0 auto;
}

.tool-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.tools img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px; 
}

.tools ul {
    list-style-type: none;
    padding: 30px; 
    margin: 0;
}

/* Worksの設定 */

.works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    gap: 50px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 14px;
    margin: 50px;
    justify-content: center;
}

.work a img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.memo {
    text-align: center;
    margin-top: 50px;
    background-color: #f7f7f4da;
    border-radius: 30px;
    padding: 0 30px 30px ;
}

.memo h4 {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.memo h4::after {
    content: "";
    background-image: url("images/icon.png");
    background-size: contain; 
    background-repeat: no-repeat;   
    /* アイコンのサイズ設定 */
    width: 20px; 
    height: 20px; 
    position: absolute;
    right: -20px;
    top: 50%;  
    position: absolute;
    right: -25px;
    top: 50%; 
    transform: translateY(-50%); 
}


/* Contactの設定 */

.contact-title {
    font-family: "Italiana", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 40px 0 0 0;
    padding-top: 100px;
}

form {
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    max-width: 60%;
    background-color: #fef9fb;
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

input[type="text"], input[type="email"] {
    padding: 6px;
    margin: 10px 0;
    width: 70%;
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    color: #583822;
    border: 1px solid #9b7e56;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    text-align: center;
    margin: 10px 0;
    padding: 6px;
    height: 100px;
    width: 80%;
    font-size: 1rem;
    background-color: #fff;
    color: #583822;
    border-radius: 10px;
    border: 1px solid #9b7e56;
    box-sizing: border-box;
    text-align: left;
}

.submit {
    text-align: center;
}

input[type="submit"] {
    padding: 8px 35px;
    border: 1px solid #9b7e56;
    color: #9b7e56;
    transition: all 0.3s ease;
    border-radius: 50%;
    font-size: 15px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    margin-top: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #9b7e56;
    color: #f7f7f4;
    border-radius: 50%;
}

.note {
    text-align: center;
    font-size: 0.8rem;
    color: #9b7e56; 
    margin-top: 10px;
}

.contact-image {
    margin: 20px auto 20px auto; 
    text-align: center;
}

.contact-image img {
    width: 100px;
    height: 100px;
}

/* フッター */

footer {
    position: relative;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: -45px;
    background-image: url(./images/footer.png);
    background-position: center bottom; 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding-top: 100px;
    padding-bottom: 2rem;
}

/* アニメーション */

.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

/* 背景で動くシェイプ */

.shape {
    position: absolute;
    opacity: 0.7;
}

/* シェイプ 1: イエロー */
.shape-1 {
    width: 400px;
    height: 300px;
    background-color: #fff9e0;
    top: 10%;
    left: 10%;
    animation: moveShape 15s infinite alternate ease-in-out; 
}

/* シェイプ 2: ブラウン */
.shape-2 {
    width: 300px;
    height: 250px;
    background-color: #d6c6af; 
    top: 60%;
    right: 5%;
    animation: moveShape 18s infinite alternate-reverse ease-in-out; 
}


/*  キーフレームアニメーション */

@keyframes moveShape {
    0% {
        transform: translate(0, 0) rotate(0deg);
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        transform: translate(100px, -50px) rotate(45deg);
        border-radius: 30% 70% 70% 30% / 30% 70% 30% 70%;
    }
    100% {
        transform: translate(-100px, 100px) rotate(90deg);
        border-radius: 70% 30% 60% 40% / 50% 50% 50% 50%;
    }
}

.fadein {
    animation-name: fadein_anime;
    animation-fill-mode: both;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-direction: normal;
}

@keyframes fadein_anime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* レスポンシブ対応　*/

@media (max-width: 900px) {
    #profile {
    margin-top: 100px;
    }

    .profile-section {
        margin-bottom: 80px; 
    }

    .section-item {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .profile-visual {
        width: 40%;
        margin: 0 auto 30px auto;
    }

    /* Profileテキスト（右側）の調整 */
    .item-content {
        padding-left: 0;
        text-align: center; 
        width: 90%; 
        margin: 0 auto;
    }

    .name {
        width: 100%; 
    }
    
    .tools {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    form {
        max-width: 90%; 
    }

    input[type="text"], input[type="email"], textarea {
        width: 90%; 
    }
}

/*  PC・広めの画面向け */

@media (min-width: 901px) { 
    .profile-section {
    margin-bottom: 120px; 
    }
    .item-content {
    max-width: 800px; 
    width: 50%;
    padding-right: 5%; 
    }

    .tools {
        gap: 50px;
    }

    .section-item {
        gap: 5%; 
        max-width: 1000px; 
        margin: 0 auto;
    }
}

@media (min-width: 930px) {
    .works {
        grid-template-columns: 1fr 1fr;
        max-width: 930px;
        margin: 50px auto;
    }
}





